<div class="p-5 text-center">
  <p class="pb-3 h3">Booking Form</p>
  <form [formGroup]="bookingForm">
    @if (isBooked) {
      <mat-error>The selected time slot is not available. Please choose another time.</mat-error>
    }

    <mat-form-field  appearance="outline" class="booking-full-width mt-3">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      @if (bookingForm.get('name')?.hasError('required')) {
        <mat-error>Name is required.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="booking-full-width mt-3">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      @if (bookingForm.get('email')?.hasError('required')) {
        <mat-error>Email is required.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="booking-full-width mt-3">
      <mat-label>Choose a date</mat-label>
      <input matInput [min]="today" [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      @if (bookingForm.get('date')?.hasError('required')) {
        <mat-error>Date is required.</mat-error>
      }
      @if (bookingForm.get('date')?.hasError('matDatepickerParse')) {
        <mat-error>Invalid date.</mat-error>
      }
      @if (bookingForm.get('date')?.hasError('matDatepickerMin')) {
        <mat-error>Past dates are not allowed.</mat-error>
      }

    </mat-form-field>

    <mat-form-field appearance="outline" class="booking-full-width mt-3">
      <mat-label>Pick start time</mat-label>
      <input matInput [matTimepickerMin]="openingHour" [matTimepickerMax]="closingHour" formControlName="startTime" [matTimepicker]="start">
      @if (bookingForm.get('startTime')?.hasError('required')) {
        <mat-error>Start time is required.</mat-error>
      }
      @if (bookingForm.get('startTime')?.hasError('matTimepickerMin')) {
        <mat-error>Studio is not operational at this time.</mat-error>
      }
      @if (bookingForm.get('startTime')?.hasError('matTimepickerMax')) {
        <mat-error>Studio is not operational at this time.</mat-error>
      }
      <mat-timepicker-toggle matIconSuffix [for]="start"/>
      <mat-timepicker #start/>
    </mat-form-field>

    <mat-form-field appearance="outline"  class="booking-full-width mt-3">
      <mat-label>Pick end time</mat-label>
      <input    matInput [matTimepickerMin]="openingHour" [matTimepickerMax]="closingHour" formControlName="endTime" [matTimepicker]="end">
      @if (bookingForm.get('endTime')?.hasError('required')) {
        <mat-error>End time is required.</mat-error>
      }
      @if (bookingForm.get('endTime')?.hasError('matTimepickerMin')) {
        <mat-error>Studio is not operational at this time.</mat-error>
      }
      @if (bookingForm.get('endTime')?.hasError('matTimepickerMax')) {
        <mat-error>Studio is not operational at this time.</mat-error>
      }
      <mat-timepicker-toggle matIconSuffix [for]="end"/>
      <mat-timepicker #end/>
    </mat-form-field>
    @if (bookingForm.invalid  && (bookingForm.touched || bookingForm.dirty)) {
      @if (bookingForm.hasError('greaterStartTime')) {
        <p class="custom-error-text text-start">End time cannot be same or less than start time.</p>
      }
    }
  </form>

  <div class="text-center mt-3">
    <button class="btn btn-lg btn-outline-primary" (click)="submitBooking()">Submit</button>
  </div>


</div>
