<div>

  <input type="text" [formControl]="searchInput">
  <select (change)="searchByRadius($event.target)" [disabled]="isLocationDenied" >
    <option value="6000">Search by radius</option>
    <option value="5">5 KM</option>
    <option value="10">10 KM</option>
    <option value="20">20 KM</option>
  </select>

  <p>Total: {{ studios.length }}</p>
  @if (studios.length > 0) {
    <table class="">
      <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Location</th>
      <th>Amenities List</th>
      <th>Price Per Hour</th>
      <th>Rating</th>
      <th>Action</th>
      </thead>
      <tbody>
        @for (studio of studios; track studio.Id) {
          <tr>
            <td>{{ studio?.Name }}</td>
            <td>{{ studio?.Type }}</td>
            <td>{{ studio?.Location?.Address }} - {{ studio?.Location?.Area }} - {{ studio?.Location?.City }}</td>
            <td>{{ studio?.Amenities  }}</td>
            <td>{{ studio?.PricePerHour }} {{studio?.Currency }}</td>
            <td>{{ studio?.Rating }} star</td>
            <td><button (click)="bookStudio(studio)">Book</button></td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <p>No results found</p>
  }

</div>

